:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #AFCADD;
}

* {
    color: var(--fontColor);
    font-family: Lucindo Grande;
}

body {
    background: var(--bg);
    /* Add padding. */
    padding-left: 100px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    font-family: Lucida Sans;
}

li {
    list-style: circle;
}

.list {
    list-style: circle;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--blue);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: relative;
    top: 10px;
    left: 450px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

/* Style the navigatoin bar links a */
.navbar a {
    text-decoration: none; /* remove underline */
    padding: px;
}

.navbar a:hover {
    color: #FFFFFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}